body {
  margin: 0;
  padding: 0;
}
.main-container {
  background: rgb(208, 245, 179);
  background: linear-gradient(
    180deg,
    rgba(208, 245, 179, 1) 0%,
    rgba(230, 233, 87, 1) 100%
  );
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container h1 {
  font-size: 50px;
}
.btn-header-container {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
button {
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 50px;
  color: black;
  font-weight: bold;
  cursor: pointer;
}
.are-do-main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  padding: 50px;
}
.are-do-container {
  width: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
}
.are-do {
  max-width: 500px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
  text-align: justify;
}
.are-do-image {
  max-width: 400px;
  /* margin-left: 100px; */
}
.are-do-image img {
  width: 100%;
}
.charity-foundation-main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.charity-foundation-container {
  padding: 50px;
  width: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.charity-foundation-image {
  max-width: 400px;
}
.charity-foundation-image img {
  width: 100%;
}
.charity-foundation-content {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.charity-foundation-content p {
  text-align: justify;
}
.charity-foundation-content button {
  max-width: 150px;
}
.cards-main-container {
    margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.cards-container {
  width: 1400px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.cards {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background-color: rgb(250, 208, 103);
  margin-bottom: 30px;
}
.cards img {
  width: 100%;
}
